.PreviewList {
  z-index   : 20;
  position  : absolute;
  right     : 7px;
  left      : 7px;
  max-width : 590px;
  margin    : 0 auto;
}

.Preview {
  display         : flex;
  position        : relative;
  padding         : 13px 20px;
  border-bottom   : .5px solid #e8e8e8;
  background      : white;
  align-items     : center;
  font-size       : 17px;
  font-weight     : 600;
  justify-content : space-between;
}

.DetailButton {
  padding       : 3px 17px;
  color         : white;
  border-radius : 30px;
  box-shadow    : 0 1px 2px 0 rgba(0,0,0,.36);
  font-size     : 14px;
  font-weight   : 600;
  user-select   : none;
  cursor        : pointer;
}
