.DetailView {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 21;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 17px;
  font-weight: 600;
  pointer-events: none;
}
.mobile .DetailView {
  padding: 0 7px;
}

body:not(.mobile) .DetailView {
  width: 400px;
  justify-content: flex-start;
  background: white;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
  pointer-events: auto;
  padding: 5px;
}

.mobile .DetailHeader, .mobile .DetailMain {
  box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}



.DetailHeader, .DetailMain {
  pointer-events: auto;
  width: 100%;
  background-color: white;
}

.DetailHeader {
  padding: 13px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0 0 6px 6px;
}

.DetailHeader .Name {
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}

.BackArrow {
  cursor: pointer;
  position: absolute;
  left: 20px;
}
.BackArrow div {
  display: flex;
  align-items: center;
}
.BackArrow svg {
  transition: transform .3s;
}
.BackArrow:hover svg {
  transform: translateX(-5px)
}



.DetailMain {
  padding: 11px 16px;
  border-radius: 6px 6px 0 0;
  max-height: 127px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}



.NoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  font-size: 14px;
}

.NoContent a {
  cursor: pointer;
  color: #2196F3;
}



.Row, .ShinyRow {
  padding: 5px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.Row .Name {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}

.Row .Time {
  margin-left: auto;
}

.Row .Time span:first-child {
  color: #B1B1B1;
  white-space: nowrap;
}

.Row .Time span:last-child {
  margin-left: 10px;
  white-space: nowrap;
}
