.DetailContent {
  /*see DetailHeader.css*/
  border-radius: 6px 6px 0 0;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 0;
  transform: translateY(100%) translateY(-127px);
  min-height: 127px;
}



.NoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  font-size: 14px;
}

.NoContent a {
  cursor: pointer;
  color: #2196F3;
}



.Row {
  padding: 5px 0;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.Row .Name {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}

.Row .Time {
  margin-left: auto;
}

.Row .Time span:first-child {
  color: #B1B1B1;
  white-space: nowrap;
}

.Row .Time span:last-child {
  margin-left: 10px;
  white-space: nowrap;
}
