.MainButton {
  position: absolute;
  left: 7px;
  right: 7px;
  bottom: 0;
  z-index: 11;
  user-select: none;
  pointer-events: auto;
  cursor: pointer;
  margin: 0 auto;
  width: 360px;
  max-width: 100%;
  text-align: center;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 13px;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 0px 12px -1px rgba(0,0,0,0.33);
  transition: background-color .15s;
}
