.MainButtonAnimation-appear,
.MainButtonAnimation-enter {
  transform  : translateY(100%);
  transition : transform 130ms ease-out;
}

.MainButtonAnimation-appear-active,
.MainButtonAnimation-enter-active {
  transform : none;
}

.MainButtonAnimation-leave {
  transform  : none;
  transition : transform 130ms ease-out;
}

.MainButtonAnimation-leave-active {
  transform : translateY(100%);
}
