.PreviewAnimation-enter {
  opacity                    : 0;
  transform                  : translateY(-100%);
  transition-property        : transform,
                               opacity;
  transition-duration        : 200ms;
  transition-timing-function : var(--cubic-in),
                               linear;
}

.PreviewAnimation-enter-active {
  opacity   : 1;
  transform : none;
}

.PreviewAnimation-leave {
  opacity                    : 1;
  transform                  : none;
  transition-property        : transform,
                               opacity;
  transition-duration        : 200ms;
  transition-timing-function : var(--cubic-out),
                               linear;
}

.PreviewAnimation-leave-active {
  opacity   : 0;
  transform : translateY(-100%);
}
