.PreviewAnimation-enter,
.PreviewAnimationVertical-enter {
  opacity: 0;
  transform: translate(-65px,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)/*cubic ease out*/, ease-out;
  position: relative; /*for zindex*/
}

/*Mobile*/
.PreviewAnimationVertical-enter {
  transform: translate(0,-65px);
}

.PreviewAnimation-enter.PreviewAnimation-enter-active,
.PreviewAnimationVertical-enter.PreviewAnimationVertical-enter-active {
  opacity: 1;
  transform: translate(0,0);
}


.PreviewAnimation-leave,
.PreviewAnimationVertical-leave {
  opacity: 1;
  transform: translate(0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease, ease-out;
  position: relative; /*for zindex*/
}

/*Mobile*/
.PreviewAnimationVertical-leave {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)/*cubic ease out*/, ease-in;
}

.PreviewAnimation-leave.PreviewAnimation-leave-active,
.PreviewAnimationVertical-leave.PreviewAnimationVertical-leave-active {
  opacity: 0;
  transform: translate(-65px,0);
}

/*Mobile*/
.PreviewAnimationVertical-leave.PreviewAnimationVertical-leave-active {
  transform: translate(0,-65px);
}
